*{margin:0;
box-sizing:border-box;
/*the borders and the padding are not going to 
   be added to the width or height but are going
   to be taken from them
*/}
body {

margin:0;
color:#f4f0ff;
background-color:#1E3C5C;
/*we are taking off the spaces - margin: 8px- by 
default on the body*/
}
h1 {
   margin-bottom: 10px;
}
header {
    background-color:#24104fed;
    width:100%;
    margin-bottom:10px;
    height: 20vh;
    padding: 10px;
    color: white;
    

}
h2 {
    color: #4b20a8;
}
h1, h3 {
  color: #ff4f9a;
}
main {
    width: 90%;
    margin: 0 auto;
    /*this makes the element get automatically centered*/
   }

    section {
color:#112A46;
width: 90%;
background-color:#ddcdfe; 
}


section {

    p {
        margin: 15px;
        padding: 15px;
    }


    /*descendant selector*/
}

div {
   padding: 10px;
background-color:white;
width: 90%;
margin-bottom: 10px;
}
.activities {


ul {

margin: 10px;
padding: 12px;

}
}
.information h3 ~ p {

    color: blue;
}
/*this si going to affect all p
after h3*/

.information h3 + p {

color: #112a46;

}
iframe { 
    
    width: 95%;
    height: 380px;

}

/*
.myiframe {


    height: 600px;
    background-color: purple;
}

*/

section:has(iframe){
/*this affects a section for having
an iframe inside*/

 height: 600px;
    background-color: purple;

}


/*adyacent selector affects an element
for being after another one*/
